<div class="container ntContainer">
    <div class="row">
        <div class="col-12 col-lg-3 pt-4">
            <div class="shopSidebar p-3 p-xl-5">
                <div class="row pb-lg-3 justify-content-between g-0 px-2">
                    <div class="col text-lg-center">
                        <h3 class="fw-bold mb-0">Tienda</h3>
                    </div>
                    <div class="col d-lg-none text-end">
                        <button class="btn btn-nt-primary fs-7" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive"
                    (click)="offCanvasShopIsCollapsed = !offCanvasShopIsCollapsed"
                    [attr.aria-expanded]="offCanvasShopIsCollapsed">Ver categorías</button>
                    </div>
                    
                </div>
                <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="offcanvasResponsive"
                    aria-labelledby="offcanvasResponsiveLabel" [collapse]="offCanvasShopIsCollapsed"
                    [isAnimated]="true">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Categorías</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                            data-bs-target="#offcanvasResponsive" aria-label="Close"
                            (click)="offCanvasShopIsCollapsed = !offCanvasShopIsCollapsed"></button>
                    </div>
                    <div class="row justify-content-center pt-5" *ngIf="cateList.length === 0">
                        <app-mini-loader></app-mini-loader>
                    </div>
                    <div class="offcanvas-body">
                        <div class="userNav">
                            <ul class="nav flex-column justify-content-center"
                                *ngFor="let cat of cateList; let i = index">
                                <ng-container *ngIf="cat.category_status === 'active'">
                                    <li class="nav-item">
                                        <a class="nav-link fw-semibold" routerLinkActive="active"
                                            [routerLink]="['/catalogo/categoria']"
                                            [queryParams]="{id: cat.category_id, name: cat.category_name}">{{cat.category_name}}</a>
                                        <ul class="nav flex-column">
                                            <ng-container *ngFor="let subcategory of cat.subcategories; let j = index;">
                                            <li class="nav-item ps-3" *ngIf="subcategory.subcategory_status === 'active'">
                                                <a class="nav-link" [routerLink]="['/catalogo/categoria']"
                                                    [queryParams]="{id: subcategory.subcategory_id, name: subcategory.subcategory_name}"
                                                    (click)="getScreenWidth < 992 ? offCanvasShopIsCollapsed = true : offCanvasShopIsCollapsed = false">
                                                    {{subcategory.subcategory_name}}</a>
                                            </li>
                                        </ng-container>
                                        </ul>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9 pt-4 ff-poppins">
            <router-outlet></router-outlet>
        </div>
    </div>