<footer class="nt-footer">
    <div class="container">
        <div class="row py-4 justify-content-between">
            <div class="col-12 col-lg-4 text-center">
                <img src="../../../assets/img/logo/naturtea-azul.png" alt="logo azul" class="img-fluid">
                <h5>tienda online de té y accesorios</h5>
            </div>

            <div class="col-12 col-lg-4">
                <ul class="navbar-nav justify-content-start ps-3 ps-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['no-encontrado']">Política de envíos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['no-encontrado']">Términos y condiciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['no-encontrado']">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container text-center py-2">
            © 2023 naturtea
        </div>
    </div>
</footer>