<header>
    <div class="py-2 text-center shippingText">
        <p class="mb-0 ff-poppins fs-7">Hacemos envíos a todo Chile por pagar a través de Starken.</p>
    </div>
    <nav class="navbar navbar-expand-lg h-100" aria-label="Offcanvas navbar large">
        <div class="container">
            <div class="col-8 col-md-4 col-lg-3 px-xl-4">
                <a class="navbar-brand" [routerLink]="['']">
                    <img src="../../../assets/img/logo/naturtea.png" alt="logo" class="img-fluid">
                </a>
            </div>
            <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="isCollapsed" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="bi bi-list fs-1"></i>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2"
                aria-labelledby="offcanvasNavbar2Label" [collapse]="isCollapsed" [isAnimated]="true">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Menú</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                        (click)="isCollapsed = !isCollapsed"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-start flex-grow-1 ps-3 fw-bold">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" [routerLink]="['']" (click)="getScreenWidth < 992 ? isCollapsed = true : isCollapsed = false">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" [routerLink]="['/tienda']" (click)="getScreenWidth < 992 ? isCollapsed = true : isCollapsed = false">Tienda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" [routerLink]="['/en-construccion']" (click)="getScreenWidth < 992 ? isCollapsed = true : isCollapsed = false">Contacto</a>
                        </li>
                    </ul>
                    <div class="d-flex navIcons">
                        <a type="button" (click)="prueba()"
                            (click)="getScreenWidth < 992 ? isCollapsed = true : isCollapsed = false"
                            class="text-reset me-3"><i class="bi bi-person-fill fs-4"></i></a>
                        <a [routerLink]="['carrito']"
                            (click)="getScreenWidth < 992 ? isCollapsed = true : isCollapsed = false"
                            class="text-reset "><i class="bi bi-cart2 fs-4"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>