<div class="container-fluid">
    <div class="row p-3">
        <div class="col-8">
            <h4>Productos</h4>
        </div>
        <div class="col-4 text-end">
            <button type="button" class="btn btn-nt-primary" (click)="addProductModal.show()">
                <span class="d-lg-none"><i class="bi bi-plus-circle fs-6"></i></span>
                <span class="d-none d-lg-inline-block">Agregar nuevo producto</span>
            </button>
        </div>
    </div>
    <div class="row p-md-3 productsRow">
        <div class="col-6 col-md-4 col-lg-2 text-center mb-2" *ngFor="let product of productsList; let i = index">
            <div class="card h-100" id="producto{{i + 1}}">
                <img src="{{product.product_imageUrl}}" class="card-img-top" alt="{{product.product_name}}">
                <div class="card-body p-1 pt-2">
                    <h5 class="card-title">{{product.product_name}}</h5>
                    <p class="card-text">${{product.product_price | thousands}}</p>
                </div>
                <div class="card-footer bg-white border-top-0">
                    <div class="d-flex justify-content-between">
                        <button type="button" (click)="showEditProductModal(product, product.id)"
                            class="btn btn-sm btn-warning d-flex align-items-center"><i
                                class="bi bi-pencil-square fs-5"></i> <span
                                class="fw-semibold ps-1 d-none">Editar</span></button>
                        <button type="button" (click)="showDeleteProductModal(product, product.id)"
                            class="btn btn-sm btn-danger d-flex align-items-center">
                            <i class="bi bi-trash3 fs-5"></i> <span
                                class="fw-semibold ps-1 d-none">Eliminar</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- addProductModal -->
<div class="modal fade" bsModal #addProductModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addProductModalLabel">Agregar Producto</h4>
                <button type="button" class="btn-close" (click)="addProductModal.hide(); resetForm(addProductForm)" aria-label="Close"></button>
            </div>
            <div class="modal-body p-1 p-lg-3">
                <form (ngSubmit)="onSubmitNewProduct(addProductForm)" #addProductForm="ngForm" id="addProductForm"
                    class="row pt-3 px-3">
                    <div class="col-12 col-md-12">
                        <label for="ntProductName" class="form-label">Nombre producto:</label>
                        <input type="text" class="form-control" [(ngModel)]="newProduct.product_name" minlength="6"
                            required id="ntProductName" name="product_name" placeholder="Té negro ceylan">
                        <span class="messageContainer">
                            <span *ngIf="addProductForm.submitted && addProductForm.controls['product_name'].errors"
                                class="text-danger animate__animated animate__fadeIn">Recuerda ingresar un nombre
                                descriptivo.</span>
                        </span>
                    </div>
                    <div class="col-6 col-md-4">
                        <label for="ntProductPrice" class="form-label">Precio: </label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addonprice">$</span>
                            <input type="number" class="form-control" [(ngModel)]="newProduct.product_price" required
                                id="ntProductPrice" name="product_price" placeholder="1000"
                                aria-describedby="basic-addon1">
                        </div>
                        <span class="messageContainer">
                            <span
                                *ngIf="addProductForm.submitted && addProductForm.controls['product_price'].value == 0"
                                class="text-danger animate__animated animate__fadeIn">¿Valor = 0?</span>
                        </span>
                    </div>
                    <div class="col-6 col-md-2">
                        <label for="ntProductStock" class="form-label">Stock: </label>
                        <input type="number" class="form-control" [(ngModel)]="newProduct.product_stock" required
                            id="ntProductStock" name="product_stock" placeholder="10">
                        <span class="messageContainer">
                            <span
                                *ngIf="addProductForm.submitted && addProductForm.controls['product_stock'].value == 0"
                                class="text-danger animate__animated animate__fadeIn">¿Stock = 0?</span>
                        </span>
                    </div>
                    <div class="col-12 col-md-6 mb-3 mb-lg-0">
                        <label for="product_featured" class="form-label d-block">¿Quieres destacar este producto?</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="product_featured" id="statusActive"
                                [(ngModel)]="newProduct.product_featured" value="Si">
                            <label class="form-check-label" for="product_featured">
                                Sí
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="product_featured" id="statusInactive"
                                [(ngModel)]="newProduct.product_featured" value="No" checked>
                            <label class="form-check-label" for="product_featured">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="ntProductCategory" class="form-label">Categoría: </label>
                        <select class="form-select" aria-label="ntProductCategory" name="product_category"
                            [(ngModel)]="newProduct.product_category" (ngModelChange)="activateSubcategorySelect($event)">
                            <option selected disabled value="">Seleccionar</option>
                            <option *ngFor="let category of categoriesList; let i = index" value="{{category.category_id}}">
                                {{category.category_name}}</option>
                        </select>
                        <span class="messageContainer">
                            <span
                                *ngIf="addProductForm.submitted && addProductForm.controls['product_category'].value == ''"
                                class="text-danger animate__animated animate__fadeIn">Recuerda seleccionar una
                                categoría.</span>
                        </span>
                    </div>
                    <div class="col-12 col-md-6 mb-3 mb-lg-0">
                        <label for="ntProductSubcategory" class="form-label">Subcategoría:</label>
                        <select class="form-select" aria-label="ntProductSubcategory" name="product_subcategory"
                            [(ngModel)]="newProduct.product_subcategory" id="ntProductSubcategory" [disabled]="!subcategoriesList.length">
                            <option selected disabled value="">Seleccionar</option>
                            <option *ngFor="let subcategoria of subcategoriesList" [value]="subcategoria.subcategory_id">{{ subcategoria.subcategory_name }}</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="ntDescriptionProduct" class="form-label">Descripción del producto: </label>
                        <textarea class="form-control" id="ntDescriptionProduct"
                            [(ngModel)]="newProduct.product_description" name="product_description" minlength="6"
                            required rows="2"></textarea>
                        <span class="messageContainer">
                            <span
                                *ngIf="addProductForm.submitted && addProductForm.controls['product_description'].errors"
                                class="text-danger animate__animated animate__fadeIn">Recuerda ingresar una breve
                                descripción.</span>
                        </span>
                    </div>
                    <div class="col-12">
                        <label for="ntProductImage" class="form-label">Subir fotografía:</label>
                        <input class="form-control" type="file" name="product_image" (change)="onFileSelected($event)"
                            id="ntProductImage">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-nt-secondary"
                    (click)="addProductModal.hide(); resetForm(addProductForm)">Cancelar</button>
                <button type="submit" form="addProductForm" class="btn btn-nt-primary">Agregar</button>
            </div>
        </div>
    </div>
</div>

<!-- editProductModal -->
<div class="modal fade" bsModal #editProductModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editProductModalLabel">Editar Producto</h4>
                <button type="button" class="btn-close" (click)="editProductModal.hide();" aria-label="Close"></button>
            </div>
            <div class="modal-body p-1 p-lg-3">
                <form (ngSubmit)="onSubmitEditProduct(editProductForm)" #editProductForm="ngForm" id="editProductForm"
                    class="row pt-3 px-3">
                    <div class="col-12">
                        <label for="ntEditProductName" class="form-label">Nombre producto: </label>
                        <input type="text" class="form-control" [(ngModel)]="product.product_name" minlength="6"
                            required id="ntEditProductName" name="product_name" placeholder="Té negro ceylan">
                        <span class="messageContainer">
                            <span *ngIf="editProductForm.submitted && editProductForm.controls['product_name'].errors"
                                class="text-danger animate__animated animate__fadeIn">Recuerda ingresar un nombre
                                descriptivo.</span>
                        </span>
                    </div>
                    <div class="col-6 col-md-4">
                        <label for="ntEditProductPrice" class="form-label">Precio: </label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addonpriceedit">$</span>
                            <input type="number" class="form-control" [(ngModel)]="product.product_price" required
                                id="ntEditProductPrice" name="product_price" placeholder="1000"
                                aria-describedby="basic-addonpriceedit">
                        </div>
                        <span class="messageContainer">
                            <span
                                *ngIf="editProductForm.submitted && editProductForm.controls['product_price'].value == 0"
                                class="text-danger animate__animated animate__fadeIn">Valor = 0?</span>
                        </span>
                    </div>
                    <div class="col-6 col-md-2">
                        <label for="ntEditProductStock" class="form-label">Stock: </label>
                        <input type="number" class="form-control" [(ngModel)]="product.product_stock" required
                            id="ntEditProductStock" name="product_stock" placeholder="10">
                        <span class="messageContainer">
                            <span
                                *ngIf="editProductForm.submitted && editProductForm.controls['product_stock'].value == 0"
                                class="text-danger animate__animated animate__fadeIn">¿Stock = 0?</span>
                        </span>
                    </div>
                    <div class="col-12 col-md-6 mb-3 mb-lg-0">
                        <label for="status" class="form-label d-block">¿Quieres destacar este producto?</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="statusActiveEdit"
                                [(ngModel)]="product.product_featured" value="Si">
                            <label class="form-check-label" for="status">
                                Sí
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="statusInactiveEdit"
                                [(ngModel)]="product.product_featured" value="No">
                            <label class="form-check-label" for="status">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="ntEditProductCategory" class="form-label">Categoría: </label>
                        <select class="form-select" aria-label="ntEditProductCategory" name="product_category"
                            [(ngModel)]="product.product_category" (ngModelChange)="activateEditSubcategorySelect($event)">
                            <option disabled [value]="">Seleccionar</option>
                            <option *ngFor="let category of categoriesList; let i = index" [value]="category.category_id">
                                {{category.category_name}}</option>
                        </select>
                        <span class="messageContainer">
                            <span
                                *ngIf="editProductForm.submitted && editProductForm.controls['product_category'].value == ''"
                                class="text-danger animate__animated animate__fadeIn">Recuerda seleccionar una
                                categoría.</span>
                        </span>
                    </div>
                    <div class="col-12 col-md-6 mb-3 mb-lg-0">
                        <label for="ntEditProductSubcategory" class="form-label">Subcategoría: </label>
                        <select class="form-select" aria-label="ntEditProductSubcategory" id="ntEditProductSubcategory" name="product_subcategory"
                            [(ngModel)]="product.product_subcategory" >
                            <option disabled [value]="">Seleccionar</option>
                            <option *ngFor="let subcategoria of subcategoriesList" [value]="subcategoria.subcategory_id">{{ subcategoria.subcategory_name }}</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-9">
                        <label for="ntEditDescriptionProduct" class="form-label">Descripción del producto: </label>
                        <textarea class="form-control" id="ntEditDescriptionProduct"
                            [(ngModel)]="product.product_description" name="product_description" minlength="6" required
                            rows="5"></textarea>
                        <span class="messageContainer">
                            <span
                                *ngIf="editProductForm.submitted && editProductForm.controls['product_description'].errors"
                                class="text-danger animate__animated animate__fadeIn">Recuerda ingresar una breve
                                descripción.</span>
                        </span>
                    </div>
                    <div *ngIf="product.product_imageUrl !== ''" class="col-12 col-md-3">
                        <label class="form-label">Fotografía principal: </label>
                        <img src="{{product.product_imageUrl}}" alt="imagen producto" class="img-fluid">
                    </div>
                    <div class="col-12">
                        <label for="ntEditProductImage" class="form-label">Cambiar fotografía:</label>
                        <input class="form-control" type="file" name="product_image" (change)="onFileSelected($event)"
                            id="ntEditProductImage">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-nt-secondary"
                    (click)="editProductModal.hide();">Cancelar</button>
                <button type="submit" form="editProductForm" class="btn btn-nt-primary">Actualizar</button>
            </div>
        </div>
    </div>
</div>

<!-- deleteProductModal -->
<div class="modal fade" bsModal #deleteProductModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title text-center" id="deleteProductLabel">¿Seguro que deseas eliminar
                    {{productName}} {{product.product_name}}?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-nt-secondary"
                    (click)="deleteProductModal.hide()">Cancelar</button>
                <button type="submit" class="btn btn-nt-primary" (click)="deleteProduct(productId, productImageName)">Eliminar</button>
            </div>
        </div>
    </div>
</div>