<div class="container-fluid ntContainer">
    <div class="row justify-content-center">
        <div class="col-12">
            <h3 class="fc-darkblue fw-semibold text-center py-5 mb-0">Contacto</h3>
        </div>
        <div class="col-12 text-center">
            <p class="text-center fs-5">¿Tienes alguna duda o consulta? ¡No dudes en escribirnos!</p>
            <h4 class="mb-3">
                <a class="fc-brand"
                    href="mailto:contactonaturtea@gmail.com">contactonaturtea@gmail.com
                </a>
            </h4>
        </div>
        <div class="col-10 col-lg-4">
            <img src="../../../assets/img/resources/Messages-bro-min.png" alt="mensajes" class="img-fluid">
        </div>
    </div>
</div>