<section>
    <h3 class="fc-darkblue fw-semibold text-center py-3 mb-0">Todos los productos</h3>
    <div class="row py-5" *ngIf="!isReady">
        <app-mini-loader></app-mini-loader>
    </div>
    <div class="row p-md-3 productsRow" *ngIf="productsList.length >= 1; else noProducts">
        <ng-container *ngFor="let product of productsList; let i = index">
            <div class="col-12 col-md-4 col-lg-3 text-center mb-3" *ngIf="product.product_status === 'active'">
                <div class="card h-100" id="producto{{i + 1}}">
                    <img src="{{product.product_imageUrl}}" class="card-img-top" alt="{{product.product_name}}">
                    <div class="card-body p-1 pt-3">
                        <h5 class="card-title">{{product.product_name}}</h5>
                        <p class="card-text">${{product.product_price | thousands}}</p>
                    </div>
                    <div class="card-footer bg-white border-top-0 pb-3">
                        <div class="d-flex justify-content-between">
                            <button type="button" [routerLink]="['/tienda/producto', product.id]"
                                [title]="'Detalles de ' + product.product_name "
                                class="btn btn-sm btn-nt-brand d-flex align-items-center">
                                <span class="fw-semibold">ver más</span></button>
                            <button type="button" (click)="addToCart(product)"
                                class="btn btn-sm btn-nt-primary d-flex align-items-center">
                                <i class="bi bi-cart-plus-fill"></i> <span
                                    class="fw-semibold ps-1 d-none d-xl-inline">agregar</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <ng-template #noProducts>
        <ng-container *ngIf="isReady">
            <div class="row mb-3">
                <div class="col-12 text-center">
                    <div class="col-11 col-md-4 mx-auto">
                        <img src="./../../../assets/img/resources/Feeling sorry-bro.png" alt="sorry" class="img-fluid">
                    </div>
                    <h4>Aún no tenemos productos, pero pronto vendrán.</h4>
                    <a class="fc-lightbrand text-decoration-none cartRemove" [routerLink]="['/']">
                        Volver al Inicio
                    </a>
                </div>
            </div>
        </ng-container>
    </ng-template>

</section>