<div class="container ntContainer">
    <div class="row justify-content-center align-content-center ff-vollkorn pt-0 pt-lg-5 overflow-hidden">
        <div class="col-11 col-md-8 col-lg-8 col-xl-6 p-3  animate__animated animate__fadeInRight">
            <form class="row" (ngSubmit)="onSubmitSignUp(signUpForm)" #signUpForm="ngForm" id="signUpForm">
                <h4 class="text-center ls-3 mb-4 fw-bold text-uppercase">Regístrate en naturtea</h4>
                <div class="col-12 col-lg-6">
                    <label for="ntSignupName" class="form-label">Nombre</label>
                    <input type="text" [(ngModel)]="user.nombre" minlength="2" name="nombre" required
                        class="form-control" id="ntSignupName" placeholder="Juanita">
                    <span class="messageContainer">
                        <span *ngIf="signUpForm.submitted && signUpForm.controls['nombre'].errors"
                            class="text-danger animate__animated animate__fadeIn">Debes ingresar tu nombre.</span>
                    </span>
                </div>
                <div class="col-12 col-lg-6">
                    <label for="ntSignupLastname" class="form-label">Apellido</label>
                    <input type="text" [(ngModel)]="user.apellido" minlength="2" name="apellido" required
                        class="form-control" id="ntSignupLastname" placeholder="Pérez-Cotapos">
                    <span class="messageContainer">
                        <span *ngIf="signUpForm.submitted && signUpForm.controls['apellido'].errors"
                            class="text-danger animate__animated animate__fadeIn">Debes ingresar tu apellido.</span>
                    </span>
                </div>
                <div class="col-12 col-lg-6">
                    <label for="ntSignupEmail" class="form-label">Correo electrónico </label>
                    <input type="email" [(ngModel)]="user.email" name="email" required email class="form-control"
                        id="ntSignupEmail" placeholder="correo@dominio.com">
                    <span class="messageContainer">
                        <span *ngIf="signUpForm.submitted && signUpForm.controls['email'].errors"
                            class="text-danger animate__animated animate__fadeIn">El correo es obligatorio.</span>
                    </span>
                </div>
                <div class="col-12 col-lg-6">
                    <label for="ntSignupPassword" class="form-label">Contraseña</label>
                    <input type="password" [(ngModel)]="user.password" minlength="6" required name="password"
                        autocomplete="off" class="form-control" id="ntSignupPassword" placeholder="******">
                    <span class="messageContainer">
                        <span *ngIf="signUpForm.submitted && signUpForm.controls['password'].errors"
                            class="text-danger animate__animated animate__fadeIn">Deben ser más de 6
                            caracteres.</span>
                    </span>
                </div>
                <div class="col-12 col-lg-6">
                    <label for="ntSignupRegion" class="form-label">Región </label>
                    <select class="form-select" aria-label="ntSignupRegion" name="region" [(ngModel)]="user.region"
                        (change)="onChangeRegion($event)">
                        <option selected disabled value="">Seleccionar</option>
                        <option *ngFor="let region of regions; let i = index" [value]="region.region">
                            {{ region.region }}</option>
                    </select>
                    <span class="messageContainer">
                        <span *ngIf="signUpForm.submitted && signUpForm.controls['region'].value == ''"
                            class="text-danger animate__animated animate__fadeIn">Recuerda seleccionar una
                            región.</span>
                    </span>
                </div>
                <div class="col-12 col-lg-6">
                    <label for="ntSignupCommune" class="form-label">Comuna </label>
                    <select class="form-select" aria-label="ntSignupCommune" name="comuna" [(ngModel)]="user.comuna">
                        <option selected disabled value="">Seleccionar</option>
                        <option *ngFor="let comuna of communes; let i = index" [value]="comuna">
                            {{ comuna }}</option>
                    </select>
                    <span class="messageContainer">
                        <span *ngIf="signUpForm.submitted && signUpForm.controls['comuna'].value == ''"
                            class="text-danger animate__animated animate__fadeIn">Recuerda seleccionar una
                            región.</span>
                    </span>
                </div>
                <div class="col-12 col-lg-6">
                    <label for="ntSignupAddres" class="form-label">Dirección</label>
                    <input type="text" [(ngModel)]="user.direccion" name="direccion" required class="form-control"
                        id="ntSignupAddres" placeholder="Avenida Falsa 123">
                    <span class="messageContainer">
                        <span
                            *ngIf="(signUpForm.submitted && signUpForm.controls['direccion'].value == '') || (signUpForm.submitted &&  signUpForm.controls['direccion'].value.length < 6)"
                            class="text-danger animate__animated animate__fadeIn">Debes ingresar tu dirección.</span>
                    </span>
                </div>
                <div class="mb-3 form-check ms-3">
                    <input [(ngModel)]="rememberNewUser" name="rememberNewUser" type="checkbox" class="form-check-input"
                        id="ntLoginRemember">
                    <label class="form-check-label" for="ntLoginRemember">Recordar mi usuario</label>
                </div>
                <button type="submit" class="btn btn-nt-primary w-100">Registrar</button>
            </form>
            <div class="mt-5">
                <h5 class="text-center">¿Ya tienes cuenta? <br class="d-md-none"> <a routerLink="/ingresa"
                        class="text-decoration-none fc-brand fw-bold">Inicia sesión</a></h5>
            </div>
        </div>
    </div>
</div>