<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-xl-3 mb-md-2">
            <div class="counter-box">
                <div class="me-lg-1 contrastColor">
                    <i class="bi bi-people fs-1"></i>
                </div>
                <div class="text-center">
                    <h3>4</h3>
                    <h5>usuarios registrados</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3 mb-md-2">
            <div class="counter-box">
                <div class="me-lg-1 contrastColor">
                    <i class="bi bi-box-seam fs-1"></i>
                </div>
                <div class="text-center">
                    <h3>25</h3>
                    <h5>productos ingresados</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3 mb-md-2">
            <div class="counter-box">
                <div class="me-lg-1 contrastColor">
                    <i class="bi bi-bag-check fs-1"></i>
                </div>
                <div class="text-center">
                    <h3>101</h3>
                    <h5>ventas realizadas</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3 mb-md-2">
            <div class="counter-box">
                <div class="me-lg-1 contrastColor">
                    <i class="bi bi-card-checklist fs-1"></i>
                </div>
                <div class="text-center">
                    <h3>3</h3>
                    <h5>pedidos pendientes</h5>
                </div>
            </div>
        </div>
    </div>
</div>
