:root {
  --nt-primary: #0e2a39;
  --nt-darkblue: #0e2a39;
  --nt-lightblue: #184862;
  --nt-brand: #a558c8;
  --nt-darkbrand: #8446a0;
  --nt-lightbrand: #ba7ed5;
  --nt-info: #a457c8;
  --nt-success: #398749;
  --nt-warning: #b77711;
  --nt-danger: #f44336;
  --nt-black: #040c10;
  --nt-white: #fff;
  --nt-lightgray: #9baebc;
  --nt-gray: #677987;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #FFFFFF;
}

.ntContainer {
  min-height: calc(100vh - 73px - 340px);
}

.ff-vollkorn {
  font-family: "Vollkorn", serif;
}

.ff-poppins {
  font-family: "Poppins", sans-serif;
}

.fw-500 {
  font-weight: 500;
}

.fs-7 {
  font-size: .75rem !important;
}

.btn-nt-darkprimary {
  --bs-btn-color: var(--nt-white);
  --bs-btn-bg: var(--nt-darkblue);
  --bs-btn-border-color: var(--nt-darkblue);
  --bs-btn-hover-color: var(--nt-white);
  --bs-btn-hover-bg: var(--nt-lightblue);
  --bs-btn-hover-border-color: var(--nt-lightblue);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--nt-white);
  --bs-btn-active-bg: var(--nt-darkblue);
  --bs-btn-active-border-color: var(--nt-darkblue);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--nt-lightgray);
  --bs-btn-disabled-bg: var(--nt-gray);
  --bs-btn-disabled-border-color: var(--nt-gray);
  text-transform: lowercase;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.btn-nt-primary {
  --bs-btn-color: var(--nt-white);
  --bs-btn-bg: var(--nt-lightblue);
  --bs-btn-border-color: var(--nt-lightblue);
  --bs-btn-hover-color: var(--nt-white);
  --bs-btn-hover-bg: var(--nt-darkblue);
  --bs-btn-hover-border-color: var(--nt-darkblue);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--nt-white);
  --bs-btn-active-bg: var(--nt-lightblue);
  --bs-btn-active-border-color: var(--nt-lightblue);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--nt-lightgray);
  --bs-btn-disabled-bg: var(--nt-gray);
  --bs-btn-disabled-border-color: var(--nt-gray);
  text-transform: lowercase;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.btn-nt-secondary {
  --bs-btn-color: var(--nt-white);
  --bs-btn-bg: var(--nt-gray);
  --bs-btn-border-color: var(--nt-gray);
  --bs-btn-hover-color: var(--nt-white);
  --bs-btn-hover-bg: var(--nt-lightgray);
  --bs-btn-hover-border-color: var(--nt-lightgray);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--nt-white);
  --bs-btn-active-bg: var(--nt-gray);
  --bs-btn-active-border-color: var(--nt-gray);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--nt-lightgray);
  --bs-btn-disabled-bg: var(--nt-gray);
  --bs-btn-disabled-border-color: var(--nt-gray);
  text-transform: lowercase;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.btn-nt-brand {
  --bs-btn-color: var(--nt-white);
  --bs-btn-bg: var(--nt-brand);
  --bs-btn-border-color: var(--nt-brand);
  --bs-btn-hover-color: var(--nt-white);
  --bs-btn-hover-bg: var(--nt-darkbrand);
  --bs-btn-hover-border-color: var(--nt-darkbrand);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--nt-white);
  --bs-btn-active-bg: var(--nt-brand);
  --bs-btn-active-border-color: var(--nt-brand);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--nt-lightgray);
  --bs-btn-disabled-bg: var(--nt-gray);
  --bs-btn-disabled-border-color: var(--nt-gray);
  text-transform: lowercase;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.btn-warning {
  --bs-btn-color: #fff;
  --bs-btn-bg: #e09215;
  --bs-btn-border-color: #e09215;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b77711;
  --bs-btn-hover-border-color: #b77711;
  --bs-btn-focus-shadow-rgb: 217, 164, 6;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #e09215;
  --bs-btn-active-border-color: #e09215;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #e09215;
  --bs-btn-disabled-border-color: #e09215;
  text-transform: lowercase;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #f44336;
  --bs-btn-border-color: #f44336;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #f32516;
  --bs-btn-hover-border-color: #f32516;
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #f44336;
  --bs-btn-active-border-color: #f44336;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #dc3545;
  --bs-btn-disabled-border-color: #dc3545;
  text-transform: lowercase;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--nt-lightblue);
}

.form-check-input:checked {
  background-color: var(--nt-brand);
  border-color: var(--nt-brand);
}

.form-check-input:focus {
  box-shadow: none;
  border-color: var(--nt-lightblue);
}

.messageContainer {
  min-height: 2rem;
  display: block;
}

.ls-3 {
  letter-spacing: 0.3em;
}

.fc-darkblue {
  color: var(--nt-darkblue);
}

.fc-brand {
  color: var(--nt-brand);
}

.fc-lightbrand {
  color: var(--nt-lightbrand);
}

.fc-lightblue {
  color: var(--nt-lightblue);
}

a.fc-brand:hover, a.fc-lightbrand:hover {
  color: var(--nt-darkbrand);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
}

.popover-arrow {
  position: absolute;
}

.tooltip {
  position: absolute;
}

.tooltip-arrow {
  position: absolute;
}

@media screen and (min-width: 992px) {
  .ntContainer {
    min-height: calc(100vh - 95px - 220px);
  }

  .messageContainer {
    min-height: 1.7rem;
    display: block;
  }

  .border-lg-start {
    border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
  }
}
