<div class="container">
    <div class="row mb-3">
        <div class="col-12 mb-md-2">
            <div class="row p-3 p-lg-4 userCard" *ngIf="isDone">
                <div class="row border-bottom border-secondary mb-3 pb-2">
                    <div class="col-7">
                        <h4 class="fc-darkblue text-uppercase">Mi cuenta</h4>
                    </div>
                    <div class="col-5 text-end">
                        <button type="button" class="btn btn-nt-primary" (click)="openEditUserModal()">
                            <span><i class="bi bi-pencil-square me-lg-2"></i></span>
                            <span class="d-none d-lg-inline-block"> Editar información</span>
                        </button>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-2">
                    <h6> Información de contacto</h6>
                    <p class="mb-0">{{userData.nombre}} {{userData.apellido}}</p>
                    <p class="mb-0">{{userData.email}}</p>
                    <p class="mb-0" *ngIf="userData.telefono > 0; else noPhone">{{userData.telefono}}</p>
                    <ng-template #noPhone>
                        <p class="mb-0">No hay teléfono registrado</p>
                    </ng-template>
                    
                </div>
                <div class="col-12 col-lg-6 mb-2">
                    <h6>Dirección</h6>
                    <p class="mb-0">{{userData.direccion}}</p>
                    <p class="mb-0">{{userData.comuna}}</p>
                    <p class="mb-0">{{userData.region}}</p>
                </div>
            </div>
        </div>
    </div>


    <!-- editUserDataModal -->
    <div class="modal fade" bsModal #editUserDataModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
        role="dialog" aria-labelledby="dialog-static-name">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editUserDataModalLabel">Editar Información</h4>
                    <button type="button" class="btn-close" (click)="editUserDataModal.hide();"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body p-1 p-lg-3">
                    <form class="row" [formGroup]="userProfile" (ngSubmit)="onSubmitEditUserData();"
                        id="editUserDataForm">
                        <div class="col-12 col-lg-6">
                            <label for="ntEditName" class="form-label">Nombre</label>
                            <input type="text" formControlName="nombre" class="form-control" id="ntEditName"
                                placeholder="Juanita">
                            <span class="messageContainer">
                                <span *ngIf="(name?.dirty || name?.touched) && name?.errors"
                                    class="text-danger animate__animated animate__fadeIn">Debes ingresar tu
                                    nombre.</span>
                            </span>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="ntEditLastname" class="form-label">Apellido</label>
                            <input type="text" formControlName="apellido" class="form-control" id="ntEditLastname"
                                placeholder="Pérez-Cotapos">
                            <span class="messageContainer">
                                <span *ngIf="(lastname?.dirty || lastname?.touched) && lastname?.errors"
                                    class="text-danger animate__animated animate__fadeIn">Debes ingresar tu
                                    apellido.</span>
                            </span>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="ntEditEmail" class="form-label">Correo electrónico </label>
                            <input type="email" formControlName="email" class="form-control" id="ntEditEmail"
                                placeholder="juanitapc@lala.com">
                            <span class="messageContainer">
                            </span>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="ntEditPhone" class="form-label">Teléfono</label>
                            <div class="input-group">
                                <span class="input-group-text" id="phonecod">+56</span>
                                <input type="text" formControlName="telefono" class="form-control" id="ntEditPhone"
                                placeholder="912345678" aria-describedby="phonecod">
                            </div>
                            <span class="messageContainer">
                                <span *ngIf="(phone?.dirty || phone?.touched) && phone?.errors"
                                    class="text-danger animate__animated animate__fadeIn">Debes ingresar tu
                                    número de celular.</span>
                            </span>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="ntEditRegion" class="form-label">Región</label>
                            <select class="form-select" aria-label="ntEditRegion" name="region" formControlName="region"
                                (change)="onChangeRegion($event)">
                                <option selected disabled value="">Seleccionar</option>
                                <option *ngFor="let region of regions; let i = index" [value]="region.region">
                                    {{ region.region }}</option>
                            </select>
                            <span class="messageContainer">
                                <span  *ngIf="(region?.dirty || region?.touched) && region?.errors"
                                    class="text-danger animate__animated animate__fadeIn">Recuerda seleccionar una
                                    región.</span>
                            </span>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="ntEditCommune" class="form-label">Comuna </label>
                            <select class="form-select" aria-label="ntEditCommune" formControlName="comuna">
                                <option selected disabled value="">Seleccionar</option>
                                <option *ngFor="let comuna of communes; let i = index" [value]="comuna">
                                    {{ comuna }}</option>
                            </select>
                            <span class="messageContainer">
                                <span class="messageContainer">
                                    <span *ngIf="(commune?.dirty || commune?.touched) && commune?.errors"
                                        class="text-danger animate__animated animate__fadeIn">Debes ingresar tu
                                        comuna.</span>
                                </span>
                            </span>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="ntSignupAddres" class="form-label">Dirección</label>
                            <input type="text" formControlName="direccion" class="form-control" id="ntSignupAddres"
                                placeholder="Avenida Falsa 123">
                            <span class="messageContainer">
                                <span *ngIf="(address?.dirty || address?.touched) && address?.errors"
                                    class="text-danger animate__animated animate__fadeIn">Debes ingresar tu
                                    dirección.</span>
                            </span>
                        </div>
                        <div class="visually-hidden">
                            <input type="text" class="form-control" formControlName="tipoUsuario" placeholder="cliente">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-nt-secondary"
                        (click)="editUserDataModal.hide();fillUserDataForm()">Cancelar</button>
                    <button type="submit" form="editUserDataForm" class="btn btn-nt-primary">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
</div>